.navbar-toggler {
    background-image: url("../assets/img/bars.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.icons-menu {
    display: grid;
    padding: 0.5rem;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-areas: "mg . menu";
}

.mg {
    grid-area: mg;
}

.menu {
    grid-area: menu;
}

.food-heart {
    background: url("../assets/img/hero heart.jpg") no-repeat center center;
}

.get-help-hero {
    background: url("../assets/img/Get Help.jpg") no-repeat center center;
}

.order-food-box-hero {
    background: url("../assets/img/Get Help Option 2.jpg") no-repeat center center;
}

.volunteer-hero {
    background: url("../assets/img/Volunteer use.jpg") no-repeat center center;
}